.header {
    padding: 10px;
    background: #22577a;
}

.contact-link {
    background: #22577a;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}

.portfolio-link {
    background: #22577a;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}

.about-link {
    background: #22577a;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}


.headers {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}