html {
    scroll-behavior: smooth;
}

.header {
 max-width: 1080px;
 margin-left: auto;
 margin-right: auto;
}

.nav-container {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keith-nimmo {
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    text-decoration: none;
}

.keith-nimmo:hover {
    color: rgb(179, 12, 12);
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-item {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.header :hover {
    text-decoration: none;
}

.transition-link {
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.transition-link:hover {
    color: rgb(179, 12, 12);
}

.intro {
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.profile-pic {
    display: block;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.about-container {
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10%;
    background-color: rgba(0, 160, 152, 0.827);
}

.projects-container {
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10%;
    background-color: rgba(13, 96, 145, 0.827);
}

.spicify-container {
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10%;
    background-color: rgb(146, 55, 51);
}

.combat-container {
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10%;
    background-color: rgb(146, 55, 51);
}

.klaus-container {
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10%;
    background-color: rgb(51, 146, 146);
}

.contact-container {
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10%;
    background-color: rgb(106, 228, 228);
}

.about-text {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.about-text:hover {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.contact-text {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.contact-text:hover {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

